#
# This file contains configuration flags to customize your site
#

# Name of your site (displayed in the header)
name: Technologies of History

# Short bio or description (displayed in the header)
description: Produced by students at Texas Christian University, Spring 2026


footer-links:
  github: technologies-of-history/spring-2026


disqus:

google_analytics: G-6PYF5QJ20L

# Your website URL (e.g. http://barryclark.github.io or http://www.barryclark.co)
# Used for Sitemap.xml and your RSS feed
url: https://technologies-of-history.github.io


baseurl: "/spring-2026"


permalink: /:title/

# The release of Jekyll Now that you're using
version: v4.4.1

# Jekyll 3 now only supports Kramdown for Markdown
kramdown:
  # Use GitHub flavored markdown, including triple backtick fenced code blocks
  input: GFM
  # Jekyll 3 and GitHub Pages now only support rouge for syntax highlighting
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    # Use existing pygments syntax highlighting css
    css_class: 'highlight'

# Set the Sass partials directory, as we're using @imports
sass:
  style: :expanded # You might prefer to minify using :compressed

# Use the following plug-ins
gems:
  - jekyll-sitemap # Create a sitemap using the official Jekyll sitemap gem

# Exclude these files from your production _site
exclude:
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - README.md
  - CNAME

collections:
  people:
    output: true
