---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

.wrap {
  position: relative;
  width: 100%;
}

html {
  font-size: 16px;
  position: relative;
  min-height: 100%;
}

body {
	background: $white;
  font: 1.2rem/1.4 $helvetica;
  font-weight: 300;
  color: $gray;

  @include mobile {
    font-size: 1rem;
  }
}

.container {
  margin: 0px auto;
  max-width: 80rem;
  padding: 1rem;
  width: 80%;

  @include mobile {
    padding: 1rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helvetica;
  font-weight: 300;
  color: $darkGray;

  line-height: 1.2;
  margin: 1rem 0 1rem 0;
  padding: 0;

  @include mobile {
    line-height: 1.2;
  }
}

h1 {
  font-size: 1.8rem;
  font-weight: 300;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 1.4rem;
a {
    color: inherit;
  }
}

h3 {
  font-size: 1.2rem;
a {
    color: inherit;
  }
}

h4 {
  font-size: 1rem;
a {
    color: inherit;
  }
}

p {
  margin: 1rem 0;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 1rem 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

.left-image {
    float: left;
    margin: 1.2rem;
}

.right-image {
    float: right;
    margin: 1.2rem;
}

.center-image {
    display: block;
    margin: 0 auto;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//


.banner-container {
  visibility: visible;
  display: block;
  width: 100%;

  @include mobile {
    visibility: hidden;
    margin-top: -70px;
  }
}

.site-info {
  display: block;
  background-color: $blue;
  height: 150px;
  margin-top: -60px;
  box-shadow: $darkGray 4px 2px 4px 0px;

  @include mobile {
    margin-top: -100px;
    height: 200px;
  }
}

.site-name {
  display: block;
  background-color: $blue;
  padding: 3rem 0 0 0;
  color: $white;
  font-size: 4rem;
  font-family: $sans-serif-narrow;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 5px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  text-align: center;

    a {
      color: $white;
      text-decoration: none;
      padding-right: 0.8rem;
    }

    @include mobile {
      font-size: 2rem;
      padding-top: 110px;
      letter-spacing: 2px;
      text-align: right;
    }
  }


//
// .main
//

.posts > .post {
  padding-bottom: 2rem;
  border-bottom: 1px solid $gray;
}

.posts > .post:last-child {
  padding-bottom: 1rem;
}

.post {
  blockquote {
    margin: 1.8rem .8rem;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 1.2rem;
    font-style: italic;
  }

  .post-header {
    margin: 3rem 0;
  }

  .post-title {
    margin: 0.8rem 0;
  }

  .comments {
    margin-top: .8rem;
  }

  .read-more {
    text-transform: uppercase;
    font-size: $type-size-4;
  }
}

.breadcrumbs {
  text-transform: uppercase;
  float: right;
  font-size: $type-size-4;
}

.wrapper-footer {
  margin-top: 50px;
  background-color: $white;
}

.logo {
  display: block;
  float: left;
  margin: 0 auto;

  @include mobile {
    width: 100px;
  }
}

footer {
  padding: 10px 0;
  font-size: 11px;
  text-align: center;
}

#cy {
  display: block;
  width: 100%;
  height: 600px;
  background-color: #eee;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
@import "sidebar";
