<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">

  <nav class="sidebar-nav">
    <h2>
    <a class="sidebar-nav-item" href="{{ site.baseurl }}/">Home</a>
    <a class="sidebar-nav-item" href="{{ site.baseurl }}/about">About</a> 
    <a class="sidebar-nav-item" href="{{ site.baseurl }}/contributors">Contributors</a>
    <a class="sidebar-nav-item" href="https://technologies-of-history.github.io/course">Syllabus</a>
    </h2>
  </nav>
</div>
